
.newProduct {
    flex: 4;
    margin:75px
  }
  
  .addProductForm {
    margin-top: 50px;
  }
  
  .addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(102, 102, 235);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 27px;
  }

  .productListDelete{
    color: red;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}
